extends ../test
block content
  div#page_welcome(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='如果你很喜欢一样饰品，但是最后却没有买下，是为什么呢？'
      a(href="#page_a",data-transition="flip",data-role="button")='A、朋友都说不好看'
      a(href="#page_b",data-transition="flip",data-role="button")='B、发现了新的款式'
      a(href="#page_c",data-transition="flip",data-role="button")='C、价格过于昂贵'
      a(href="#page_d",data-transition="flip",data-role="button")='D、不知道该如何搭配'
    div(data-role="footer")
  div#page_a(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='你非常适合上流社会的生活'
      p='对你来说精神享受比物质享受更重要但是很多时候你又会发现精神享受其实也是需要物质和金钱的支撑的，所以你才会如此努力地追求物质生活的丰富。你非常适合上流社会的生活。你并不觉得各种没完没了的规矩，对你来说是一种束缚，反而你认为那才是有质量的生活水准。你可以在精致的生活中游刃有余地展现自己的个人魅力。'
      a(href="#page_welcome",data-transition="flip",data-role="button")='返回'
  div#page_b(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='你适合中产小资生活'
      p='你不适应简单平凡的生活，对你来说物质上的空虚会让你觉得非常的难受，你很在意自己的生活质量，你无法将就一些，廉价的生活用品。对你来说物质是非常重要的，有时候你甚至觉得物质的享受，超过了精神享受的重要性。不过你着实不适合过富贵的生活，因为一旦拥有荣华富贵你就会变得非常的虚荣胃口越来越大，陷入一个无法自拔的漩涡中。找不到真正的幸福感。'
      a(href="#page_welcome",data-transition="flip",data-role="button")='返回'
  div#page_c(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='你是适合普普通通的生活'
      p='细水长流的生活对你来说才是最幸福的，你不喜欢跟人争抢什么。其实对物质的要求也没有那么高，努力的追求物质，实际上是在追求一种安全感和踏实感，害怕失去自己所拥有的一切，才会努力的去挽留。从你的消费观就可以看出，你很享受稳定的生活，不会乱花钱对金钱有计划有长远的理财观。如果有朝一日，你能有机会享受荣华富贵你也不会非常的虚荣，你会懂得珍惜自己拥有的生活。 你非常适合上流社会的生活。'
      a(href="#page_welcome",data-transition="flip",data-role="button")='返回'
  div#page_d(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='你适合高品质的生活'
      p='你适合有质量的生活首先你很懂享受生活，审美能力非常的值得被人欣赏。如果没有物质金钱做基础，你就无法发挥自己的个人魅力，当然你也可以在简单的生活中过得与众不同但是对你来说如果有经济基础的话生活会变得幸福很多，想要完成的梦想，也能够有机会得到完成。但是你不会去依靠别人获得有质量的生活，你觉得只有通过自己的努力，得到想要的生活，才是最幸福的。'
      a(href="#page_welcome",data-transition="flip",data-role="button")='返回'
