extends ../test
block content
  div#page_welcome(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='超流行测试！你第一眼看到哪处不同？准到爆！'
      img(width="100%",src='/img/test/2/1.png')
      a(href="#page_a",data-transition="flip",data-role="button")='太阳'
      a(href="#page_b",data-transition="flip",data-role="button")='耳朵'
      a(href="#page_c",data-transition="flip",data-role="button")='草'
      a(href="#page_d",data-transition="flip",data-role="button")='鸟'
      a(href="#page_e",data-transition="flip",data-role="button")='尾巴'
  div#page_a(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='太阳'
      p='你是一个简简单单的人，不喜欢麻烦。有话直说。'
      p='但你容易伤害别人，也是一个喜欢记仇的人。'
      p='虽然总是替他人着想，但却经常因为得不到回报而耿耿于怀。'
      p='建议你适当的绕些弯子，学学迂回之术。'
      a(data-icon="home",href="#page_welcome",data-transition="flip",data-role="button")='返回'
  div#page_b(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='耳朵'
      p='你喜欢神秘学，希望了解别人，也乐于展现自己。'
      p='注重细节，但变化无常，让人捉摸不透。'
      a(data-icon="home",href="#page_welcome",data-transition="flip",data-role="button")='返回'
  div#page_c(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='草'
      p='第六感强烈，易感情用事，不冷静。'
      p='很刻苦，善良，喜欢交朋友，是一个爱回家的人。'
      a(data-icon="home",href="#page_welcome",data-transition="flip",data-role="button")='返回'
  div#page_d(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='鸟'
      p='一个懒惰的吃货，爱猜疑。易胡思乱想。'
      p='感情上属于慢热的人，但熟悉以后就露出贱人就是矫情的本色。'
      p='喜欢简单的人，讨厌心机婊。'
      a(data-icon="home",href="#page_welcome",data-transition="flip",data-role="button")='返回'
  div#page_e(data-role="page")
    div(data-role="header")
      h1='测你妹'
    div(data-role="content")
      h4='尾巴'
      p='你是一个非常温暖的人。'
      p='如果你是男人，你一定是暖男。'
      p='如果你是一个女人，你绝对是男友力爆表的好闺蜜。'
      a(data-icon="home",href="#page_welcome",data-transition="flip",data-role="button")='返回'
