extends ../layout
block content
  style
    | p{
    |   text-align:center;
    |   margin:10px auto;
    | }
    | a{
    |
    | }
  p='我喜爱昆虫'
  p='也喜爱花花草草'
  p='你不知道'
  p='昆虫对花花草草的作用'
  p='没有昆虫，就没有盛开的鲜花儿。'
  script(src='/js/kunchongzhi/index.js')
