extends ../layout
block content
  link(rel='stylesheet/less', href='/less/kunchongzhi/style.less')
  p='我喜爱昆虫'
  p='也喜爱花花草草'
  p='你不知道'
  p='昆虫对花花草草的作用'
  p='没有昆虫，就没有盛开的鲜花儿。'
  p
    img(src='img/index/6.jpeg')
  script(src='/js/kunchongzhi/index.js')
