extends layout
block content
  p='2016-01-20～2016-01-24 泰国 曼谷 芭提雅'
  p='2015-12-31～2016-01-02 三亚 蜈支洲岛 天涯海角 三亚湾'
  p='2015-12-11～2015-12-13 厦门 鼓浪屿 厦大白城'
  p='2015-4 哈尔滨'
  p='2015年春节 厦门'
  div#allmap
  script(src='http://api.map.baidu.com/api?v=2.0&ak=KbtS2MR8DpR88uGhcD59zVYL')
  script(src='/js/index_map.js')
